name: Update

on:
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite
          coverage: none

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist

      - name: Setup application
        run: |
          cat <<EOF > .env
          APP_ENV=local
          APP_DEBUG=true
          MAIL_FROM_ADDRESS=noreply@localhost.test
          EOF

      - name: Update dependencies
        run: composer update --no-interaction --prefer-dist

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'Patch'
          title: 'Patch'
          branch: patch
          delete-branch: true
