includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    level: 1
    paths:
        - app
        - packages
    excludePaths:
        - **/vendor/*
    ignoreErrors:
        -
            message: '#Access to an undefined property [a-zA-Z0-9\\_]+::#'
            path: /*
